



<div class="col-md-10 container p-5 my-5 bg-primary text-white">
  <div class="jumbotron">
    <h3>Add Invoice</h3>

    <form action='/invoices/add' method='POST'>

      <div class="mb-3 col-md-12">
        <div class="row col-md-4" style="display:inline-block">
            <label for="customer" class="form-label text-black" style="display:inline-block">Customer:</label>
         
          <select name="customer" id="customer" class="form-control text-black">
            <% customers.forEach(cust =>{ %>
            <option value="<%=cust.name%>"><%=cust.name%></option>
        <%  }) %> 
          </select>

          <label for="invoiceDate" class="form-label text-black" style="display:inline-block" required>Invoice Date:</label>        
        <input type="date" id="invoiceDate" name="invoiceDate" class="form-control text-black" value="" min="2000-01-01" max="2030-12-31">

          <label for="billingAddress" class="form-label text-black">Billing Address:</label>
          <input type="text" class="form-control" id="billingAddress" placeholder="Enter Billing Address" name="billingAddress">
        </div>
        <div class="row col-md-4" style="display:inline-block; ">
          <label for="amount" class="form-label text-black">Amount:</label>
          <input type="text" class="form-control" id="amount" placeholder="Enter amount" name="amount" required>

        <label for="contactName" class="form-label text-black">Contact Name:</label>
        <input type="text" class="form-control" id="contactName" placeholder="Enter Contact Name" name="contactName">

        <label for="invoiceLineItems" class="form-label text-black">Line Items:</label>
        <input type="text" class="form-control" id="invoiceLineItems" placeholder="Enter Line Items" name="invoiceLineItems">
      </div>
      <div class="row col-md-4" style="display:inline-block">

        <label for="dueDate" class="form-label text-black" style="display:inline-block" required>Due Date:</label>
      <input type="date" id="dueDate" name="dueDate" class="form-control text-black" value="" min="2000-01-01" max="2030-12-31">

      <label for="contactNumber" class="form-label text-black">Contact Number:</label>
      <input type="text" class="form-control" id="contactNumber" placeholder="Enter Contact Number" name="contactNumber">

      <label for="memo" class="form-label text-black">Memo:</label>
      <input type="photo" class="form-control" id="memo" placeholder="Enter memo" name="memo">
    </div>
        
      </div>

      <div class="mb-3 mt-3">

      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>

  </div>
</div>

<div class="container-fluid ">
  <div style="text-align:center"> 
    <div>&nbsp;</div>
  <button type="button" class="btn btn-primary"><a href="/invoices/list" class="text-white">Back to Invoice List</a></button>
</div>