
<div class="container-fluid ">
    
              <div class="col-md-10 container-fluid p-5 my-5 bg-primary text-white">
    
                    <div class="jumbotron">
                        <div class="container-fluid row">

                                <ul class="col-md-12 list-group">
                                        
                                            <h4>Customer List</h4>
                                        
                                    <% customers.forEach(inv =>{ %> 
                                            <div class="dropdown">
                                                    <button type="button" class="btn dropdown-toggle list-group-item list-group-item-action" data-bs-toggle="dropdown" style="color:darkcyan;">
                                                            <%=inv.name %>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                      <li><a class="dropdown-item" href="/customers/<%=inv._id%>">View Customer</a></li>
                                                    </ul>
                                                  </div>
                                    <% }) %> 
                            </ul>
                            
                            
                            </div>
    </div>
    
                    </div>
                    </div>
                    </div>
    
    