

<div class="container-fluid row">

    <ul class="col-md-2 list">
            
                <h4>Selected Customer: <a href="/customers/<%=customer._id%>"><%=customer.name %></a></h4>
                <h5><a href="/customers/">Click here to go back to the customer list</a></h5>
 
</ul>

        <div class="col-md-10 container">
            <div class="jumbotron">
              <h3>Click a customer for more information </h3>
            </div>
          </div>
</div>