
<div class="container-fluid row">

    <ul class="col-md-2 list-group">
            
                <h4>Customer List</h4>
            
        <% data.customers.forEach(cust =>{ %> 
                <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle list-group-item list-group-item-action" data-bs-toggle="dropdown" style="color:darkcyan;">
                                <%=cust.name %>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/customers/<%=cust._id%>">View Customer</a></li>
                        </ul>
                      </div>
        <% }) %> 
</ul>



        <div class="col-md-10 container p-5 my-5 bg-primary text-white sticky-top">
            <div class="jumbotron">
              <h3>Customer Summary Dashboard</h3>
              <h5>Customer Total: <%=data.customers.length%></h5>
              <h5>Invoice Total: <%=data.invoices[0].length%></h5>
              
            </div>
          </div>
</div>
<canvas id="myChart" width="400" height="400"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
 